.request_form {
  margin-top: 160px;
  margin-left: 30%;
}

.request_form_block {
  background: #FFFFFF;
  border-radius: 32px 32px 0px 0px;
  position: absolute;
  border: 1px solid #000;
  width: 100%;
  left: -1px;
  z-index: 6;
  bottom: -1100px;
  -webkit-transition: bottom .8s;
  transition: bottom .8s;
}

.form_header {
  font-family: Nekst-Black;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 90%;
  color: #111111;
}

.form_header_desc {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #575757;
  display: block;
  margin-top: 24px;
  margin-bottom: 44px;
  max-width: 466px;
  word-break: break-word;
}

.inputs_block_item {
  background: #F3F3F4;
  border-radius: 16px;
  padding: 12px 24px;
  outline: none;
  border: none;
  width: 265px;
  -webkit-transition: background .3s, -webkit-box-shadow .3s;
  transition: background .3s, -webkit-box-shadow .3s;
  transition: background .3s, box-shadow .3s;
  transition: background .3s, box-shadow .3s, -webkit-box-shadow .3s;
}

.inputs_block_item:focus {
  background: #FFFFFF;
  box-shadow: 0px 1px 12px -2px rgba(255, 165, 0, 0.75);
  -webkit-box-shadow: 0px 1px 12px -2px rgba(255, 165, 0, 0.75);
  -moz-box-shadow: 0px 1px 12px -2px rgba(255, 165, 0, 0.75);
}

.inputs_block_item:first-child {
  margin-right: 32px;
}

.form_close_button {
  background: url("../../images/form_close.svg");
  border-radius: 100px;
  width: 48px;
  height: 48px;
  position: absolute;
  right: 48px;
  top: 48px;
  -webkit-transition: -webkit-transform .3s, -webkit-box-shadow .3s;
  transition: -webkit-transform .3s, -webkit-box-shadow .3s;
  transition: transform .3s, box-shadow .3s;
  transition: transform .3s, box-shadow .3s, -webkit-transform .3s, -webkit-box-shadow .3s;
}

.form_close_button:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  box-shadow: 0px 1px 12px -2px rgba(255, 165, 0, 0.75);
  -webkit-box-shadow: 0px 1px 12px -2px rgba(255, 165, 0, 0.75);
  -moz-box-shadow: 0px 1px 12px -2px rgba(255, 165, 0, 0.75);
}

.cookies_block {
  max-width: 71%;
  border: 2px solid #F3F3F4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 16px;
  padding: 29px 33px;
  margin-top: 32px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cookies_block_text {
  max-width: 55%;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: rgba(17, 17, 17, 0.5);
}

.selected_text {
  font-weight: 600;
  color: #000;
}

.form_request_btn {
  margin-top: 0;
}

.mobile_form_request_button {
  display: none;
}

.icons_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 30% 175px;
}

.icons_block_item {
  display: block;
  width: 48px;
  height: 48px;
  border: 1px solid #ccc;
  border-radius: 2em;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
}

.icons_block_item:first-child {
  background: url("../../images/whats_app.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icons_block_item:last-child {
  background: url("../../images/telegram.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icons_block_item:hover {
  box-shadow: 0px 1px 12px -2px rgba(255, 165, 0, 0.75);
  -webkit-box-shadow: 0px 1px 12px -2px rgba(255, 165, 0, 0.75);
  -moz-box-shadow: 0px 1px 12px -2px rgba(255, 165, 0, 0.75);
}

.visible_form {
  bottom: -1px;
  -webkit-transition: bottom .8s;
  transition: bottom .8s;
}

@media (max-width: 1024px) {
  .request_form {
    margin-left: 20%;
  }
  .inputs_block {
    width: 84%;
  }
  .inputs_block_item {
    width: 250px;
  }
  .cookies_block {
    max-width: 82%;
  }
}

@media (max-width: 1024px) and (max-height: 1440px) {
  .visible_form {
    height: 70vh;
  }
}

@media (max-width: 769px) and (max-height: 1024px) {
  .visible_form {
    height: 100vh;
  }
}

@media (max-width: 1024px) and (max-height: 769px) {
  .visible_form {
    height: 145vh;
  }
}

@media (max-width: 769px) {
  .request_form {
    margin-left: 0;
  }
  .request_form_block {
    padding: 0 36px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .inputs_block {
    width: 100%;
  }
  .cookies_block {
    max-width: 100%;
  }
  .icons_block {
    margin: 0 auto 175px;
  }
  .request_form_block {
    left: 0;
  }
  .inputs_block_item {
    width: 269px;
  }
}

@media (max-width: 322px) {
  .request_form {
    margin-top: 24px;
  }
  .request_form_block {
    padding: 0 20px;
  }
  .form_header {
    font-size: 22px;
  }
  .form_header_desc {
    font-size: 14px;
    margin-bottom: 32px;
  }
  .form_close_button {
    width: 24px;
    height: 24px;
    background-size: contain;
    top: 24px;
    right: 20px;
  }
  .inputs_block_item {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 232px;
    margin-bottom: 8px;
  }
  .inputs_block_item:last-child {
    margin-bottom: 0;
  }
  .form_request_btn {
    display: none;
  }
  .mobile_form_request_button {
    display: block;
    margin: 8px auto 0;
  }
  .cookies_block {
    padding: 0 7px;
    margin-top: 16px;
    border: none;
  }
  .cookies_block_text {
    max-width: 100%;
    text-align: center;
  }
}

@media (max-width: 322px) and (max-height: 568px) {
  .visible_form {
    height: 205vh;
  }
}

@media (max-width: 568px) and (max-height: 320px) {
  .visible_form {
    height: 400vh;
  }
  .request_form {
    margin-top: 20px;
  }
  .form_header {
    font-size: 34px;
  }
  .form_header_desc {
    margin-bottom: 20px;
  }
  .form_close_button {
    width: 30px;
    height: 30px;
    background-size: cover;
    top: 26px;
    right: 38px;
  }
  .inputs_block_item {
    margin-bottom: 12px;
    padding-top: 17px;
    padding-bottom: 17px;
    width: 90%;
  }
  .form_request_btn {
    padding: 12px 23px;
    line-height: 29px;
  }
  .cookies_block_text {
    font-size: 13px;
  }
}
/*# sourceMappingURL=form.css.map */