.calculator {
  margin-top: 100px;
  margin-bottom: 20px;
}

.calculator_top {
  font-family: 'Nekst-Black';
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 90%;
  color: #111111;
  width: 53%;
}

.calculations {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calculations_car_cost_desc, .initial_fee_desc, .lease_term_desc, .agreement_cost_desc, .monthly_payment_desc {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #575757;
}

.calculations_car_cost_value, .initial_fee_value, .lease_term_value {
  background: #F3F3F4;
  border-radius: 16px;
  height: 68px;
  width: 436.36364px;
  margin-top: 24px;
  position: relative;
}

.calculations_car_cost_value_items, .initial_fee_value_items, .lease_term_value_items {
  width: 100%;
  font-family: Nekst-Black;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 65px;
  color: #575757;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.calculations_car_cost_value_item, .initial_fee_value_item, .lease_term_value_item {
  width: 90%;
  padding: 0 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.calculations_request_button {
  background: #FF9514;
  border-radius: 40px;
  padding: 9px 53px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Nekst-Black;
  font-style: normal;
  font-weight: 900;
  font-size: 27px;
  line-height: 50px;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: 24%;
  -webkit-transition: background .3s;
  transition: background .3s;
}

.calculations_request_button:hover {
  background: #111111;
}

.calculations_request_button:active {
  background: #575757;
}

.currency {
  width: 10%;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

#car_cost, #initial_fee, #moths_count {
  width: 93%;
  height: 1px;
  position: absolute;
  left: 10px;
  cursor: ew-resize;
}

.initial_fee_value_item, .lease_term_value_item {
  width: 87%;
}

.initial_fee_percentage_value {
  background: #EBEBEC;
  border-radius: 16px;
  padding: 0 13px;
  height: 53px;
  margin-right: 2%;
  margin-top: 8px;
  font-family: 'Nekst-Black';
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 52px;
  text-align: right;
  color: #575757;
}

.moths_count {
  font-family: 'Nekst-Black';
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  text-align: right;
  color: #575757;
  line-height: 64px;
  padding-right: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 67px;
}

.agreement_cost_block {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.agreement_cost_value, .monthly_payment_value {
  font-family: 'Nekst-Black';
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 90%;
  color: #575757;
  display: block;
  margin-top: 8px;
}

.agreement_cost_payment_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.monthly_payment {
  margin-left: 180px;
}

@media (max-width: 1024px) {
  .agreement_cost_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .calculations_request_button {
    max-width: 326px;
    margin-top: 44px;
    margin-left: 0;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .calculator_top {
    width: 100% !important;
  }
  .calculations {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .calculations_car_cost_value, .initial_fee_value, .lease_term_value, .initial_fee_value, .lease_term_value, .lease_term_value {
    width: 100% !important;
  }
  .initial_fee_value_item, .lease_term_value_item, .lease_term_value_item {
    width: 92% !important;
  }
  .initial_fee_percentage_value, .lease_term_percentage_value {
    margin-right: 0 !important;
  }
}

@media (max-width: 769px) {
  .monthly_payment {
    margin-left: 85px;
  }
}

@media (max-width: 322px) {
  .calculator {
    margin-top: 64px;
  }
  .calculator_top {
    font-size: 34px;
  }
  .calculations_car_cost_value, .initial_fee_value, .lease_term_value {
    margin-top: 8px;
    margin-bottom: 25px;
  }
  .agreement_cost_payment_data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .agreement_cost_value, .monthly_payment_value {
    font-size: 22px;
    margin-bottom: 30px;
  }
  .agreement_cost_block {
    margin-top: 25px;
  }
  .monthly_payment {
    margin-left: 0;
  }
  .agreement_cost_desc, .monthly_payment_desc {
    font-size: 14px;
  }
  .calculations_request_button {
    padding: 9px 34px;
    font-size: 22px;
  }
}
/*# sourceMappingURL=calculator.css.map */